{% extends "base.html" %}
{% block title %}Games{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h1 class="mainTitle">Historique des parties</h1>

<div class="mainContainer">
    <div class="actionMenu">
        <a class="menuBtn" href="{{ url_for('index')}}">Accueil</a>
        <a class="menuBtn" href="{{ url_for('new_game')}}">Nouvelle partie</a>
    </div>

    <ul class="gameCarousel">
        {% for game in games %}
        {% if game.finished == False %}
        <li class="gameCard">
            <a class="cardBtn" href="{{ url_for('play_game', game_id=game.id) }}">
                <div class="score">
                    <div class="scoreNumber">{{ game.white_score }}</div>
                    <div class="scoreSeparator">-</div>
                    <div class="scoreNumber">{{ game.black_score }}</div>
                </div>
                <p>Début : {{ game.created_at.strftime('%Hh%M , %d-%m-%Y') }}</p>
                <p>Durée : {{ game.duration }}</p>
                <p>
                    Joueurs :
                    {% for assoc in game.users %}
                    {{ assoc.user.username }},
                    {% endfor %}
                </p>
            </a>
        </li>
        {% else %}
        <li class="gameCard" style="background: linear-gradient(326deg, rgb(20, 20, 20) 0%, rgb(65, 65, 65) 72%);">
            <a class="cardBtn" href="{{ url_for('end_game', game_id=game.id) }}">
                <div class="score">
                    <div class="scoreNumber">{{ game.white_score }}</div>
                    <div class="scoreSeparator">-</div>
                    <div class="scoreNumber">{{ game.black_score }}</div>
                </div>
                <p>Début : {{ game.created_at.strftime('%Hh%M , %d-%m-%Y') }}</p>
                <p>Durée : {{ game.duration }}</p>
                <p>
                    Joueurs :
                    {% for assoc in game.users %}
                    {{ assoc.user.username }},
                    {% endfor %}
                </p>
            </a>
        </li>
        {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>



<style>
    .cardBtn {
        text-decoration: none;
        color: #ffffff;
    }

    .mainTitle {
        color: #ffffff;
        padding-top: 4vh;
        font-size: 8vw;
        text-align: center;
    }

    .mainContainer {
        position: absolute;
        top: 25vmin;
        bottom: 20px;
        left: 0;
        right: 0;
    }

    .actionMenu {
        height: 40px;
        display: flex;
        justify-content: space-around;
        text-align: center;
    }

    .menuBtn {
        background-color: #333333;
        border-radius: 10px;
        color: #ffffff;
        text-decoration: none;
        padding: 10px;
        width: 35vw;
    }


    .gameCarousel {
        position: absolute;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: auto;
    }

    .gameCard {
        margin: 20px;
        border-radius: 20px;
        background: linear-gradient(326deg, rgba(20, 0, 93, 1) 0%, rgba(80, 9, 121, 1) 72%);
        padding: 15px;
        color: #ffffff;
        list-style: none;
    }

    .score {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .scoreNumber {
        font-size: 24px;
        padding-inline: 10px;
        padding-top: 2px;
        margin-inline: 6px;
        background: radial-gradient(circle, rgb(59, 59, 59) 0%, rgb(27, 27, 27) 100%);
        border-radius: 6px;
    }
</style>

{% endblock %}