<!-- todo: score en diract apache kafka -->
<!-- todo: ajouter / supprimer joueur en cours de partie -->

{% extends "base.html" %}
{% block title %}Game{% endblock %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
<link rel="stylesheet"
    href="{{ url_for('static', filename='node_modules/bootstrap-icons/font/bootstrap-icons.min.css') }}">
{% endblock %}


{% block content %}
<script>
    if ("{{ game.finished }}" == "True") {
        location.href = '{{ url_for("end_game", game_id=game.id)}}'
    }
</script>

<div class="scoreContainer">
    <div id="whiteScore" class="scoreNumber">{{ game.white_score }}</div>
    <div class="scoreSeparator">-</div>
    <div id="blackScore" class="scoreNumber">{{ game.black_score }}</div>
</div>

<div class="playersContainer">
    <div class="whiteTeam">
        {% for assoc in game.users %}
        {% if assoc.team == 0 %}
        <button onclick="openModal('modal{{ assoc.user.id }}')" class="userBtn">{{ assoc.user.username }}</button>

        <div id="modal{{ assoc.user.id }}" class="modalBackground">
            <div class="modalContainer">
                <button onclick="closeModal('modal{{ assoc.user.id }}')" class="scoreBtn modalBtn" data-score="goal"
                    data-user_id="{{ assoc.user.id }}">But</button>
                <button onclick="closeModal('modal{{ assoc.user.id }}')" class="scoreBtn modalBtn" data-score="bounce_out"
                    data-user_id="{{ assoc.user.id }}">Gamelle</button>
                <button onclick="closeModal('modal{{ assoc.user.id }}')" class="scoreBtn modalBtn light" data-score="own_goal"
                    data-user_id="{{ assoc.user.id }}">But CSC</button>
                <button onclick="closeModal('modal{{ assoc.user.id }}')" class="scoreBtn modalBtn light"
                    data-score="own_bounce_out" data-user_id="{{ assoc.user.id }}">Gamelle CSC</button>
            </div>
        </div>

        {% endif %}
        {% endfor %}
    </div>

    <div class="blackTeam">
        {% for assoc in game.users %}
        {% if assoc.team == 1 %}
        <button onclick="openModal('modal{{ assoc.user.id }}')" class="userBtn">{{ assoc.user.username }}</button>

        <div id="modal{{ assoc.user.id }}" class="modalBackground">
            <div class="modalContainer">
                <button onclick="closeModal('modal{{ assoc.user.id }}')" class="scoreBtn modalBtn" data-score="goal"
                    data-user_id="{{ assoc.user.id }}">But</button>
                <button onclick="closeModal('modal{{ assoc.user.id }}')" class="scoreBtn modalBtn" data-score="bounce_out"
                    data-user_id="{{ assoc.user.id }}">Gamelle</button>
                <button onclick="closeModal('modal{{ assoc.user.id }}')" class="scoreBtn modalBtn light" data-score="own_goal"
                    data-user_id="{{ assoc.user.id }}">But CSC</button>
                <button onclick="closeModal('modal{{ assoc.user.id }}')" class="scoreBtn modalBtn light"
                    data-score="own_bounce_out" data-user_id="{{ assoc.user.id }}">Gamelle CSC</button>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="commandPanel">
    <div class="col">
        <button class="menuBtn" onclick="openModal('modalMenu')"><i class="bi bi-list"></i></button>
    </div>
    <div id="modalMenu" class="modalBackground">
        <div class="modalContainer">
            <!-- todo: code ajout joueur + AJAX -->
            <button class="modalBtn">Ajouter joueur</button>
            <a class="modalBtn light" href="{{ url_for('index') }}">Quitter</a>
        </div>
    </div>
    <div class="col">
        <div id="timer">60</div>
    </div>
    <button id="playPauseBtn"><i class="bi bi-play-fill"></i></button>
</div>

<script>
    $('button.scoreBtn').on("click", function () {
        $.ajax({
            type: "POST",
            url: "{{ url_for('goal', game_id=game.id) }}",
            data: {
                user_id: $(this).data('user_id'),
                score_type: $(this).data('score'),
            },
            success: function (response) {
                if (response.message == 'end_game') {
                    location.href = '{{ url_for("end_game", game_id=game.id)}}'
                }
                $('#whiteScore').text(response.white_score)
                $('#blackScore').text(response.black_score)
            },
            error: function (xhr, status, error) {
                console.error(error)
            }
        })
    })
</script>
<script>
    function openModal(modalId) {
        const modal = document.getElementById(modalId)
        modal.style.display = 'block'

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = 'none'
            }
        }
    }

    function closeModal(modalID) {
        const modal = document.getElementById(modalID)
        modal.style.display = 'none'
    }
</script>
<script src="{{ url_for('static', filename='clock.js') }}"></script>

<style>
    .scoreContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 40px 0 40px 0;
    }

    .scoreNumber {
        width: 100px;
        font-size: 40px;
        padding-top: 5px;
        margin-inline: 8vw;
        border-radius: 10px;
        text-align: center;
    }

    #whiteScore {
        color: #000000;
        background: radial-gradient(circle, rgb(238, 238, 238) 0%, rgb(145, 145, 145) 100%);
    }

    #blackScore {
        color: #ffffff;
        background: radial-gradient(circle, rgb(59, 59, 59) 0%, rgb(27, 27, 27) 100%);
    }

    .scoreSeparator {
        color: #ffffff;
        font-weight: bold;
    }

    .playersContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .whiteTeam,
    .blackTeam {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
    }

    .userBtn {
        border: none;
        width: 40vw;
        height: 40px;
        border-radius: 20px;
        margin-top: 20px;
        font-size: 18px;
    }

    .whiteTeam .userBtn {
        background: linear-gradient(326deg, rgb(238, 238, 238) 0%, rgb(145, 145, 145) 100%);
        color: #000000;
    }

    .blackTeam .userBtn {
        background: linear-gradient(326deg, rgb(59, 59, 59) 0%, rgb(27, 27, 27) 100%);
        color: #ffffff;
    }

    .modalBackground {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        backdrop-filter: blur(5px);
    }

    .modalContainer {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        background-color: #222222;
        padding: 40px;
        border-radius: 15px;
        color: #ffffff;
    }

    .modalBtn {
        display: flex;
        height: 50px;
        width: 160px;
        margin: 8px 0 8px 0;
        border: none;
        border-radius: 25px;
        font-weight: bold;
        font-size: 20px;
        background-color: #111111;
        color: #ffffff;
        text-decoration: none;
        justify-content: center;
        align-items: center;
    }

    .light {
        background-color: #444444;
    }

    .commandPanel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 70px;
        background-color: #333333;
    }

    .col {
        width: 40%;
        display: flex;
        justify-content: center;
    }

    .menuBtn {
        text-decoration: none;
        border: none;
        font-size: 25px;
        color: #ffffff;
        padding: 4px 10px 4px 10px;
        border-radius: 6px;
        background-color: #222222;
    }

    #timer {
        text-align: center;
        width: 60px;
        height: 40px;
        font-size: 30px;
        font-weight: bold;
        color: #ffffff;
    }

    #playPauseBtn {
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        justify-content: center;
        font-size: 30px;
        border: none;
        background: radial-gradient(circle, rgb(59, 59, 59) 0%, rgb(27, 27, 27) 100%);
        color: #ffffff;
    }
</style>
{% endblock %}