{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
{% endblock %}


{% block content %}
    <h1>Liste des joueurs</h1>

    <ul>
        {% for user in users %}
        <li>
            <p>{{ user.username }} - matches : {{ user.matches }} - goals : {{ user.goals_total }} - gamelles : {{ user.bounce_out_total }}</p>
            {% if user.matches != 0 %}
            <p>moyenne goals par match : {{ user.goals_total / user.matches }} - gamelles par match {{ user.bounce_out_total / user.matches }}</p>
            {% endif %}
            <button class="deleteBtn" data-user_id="{{ user.id }}">Supprimer</button>
        </li>
        {% endfor %}
    </ul>

    <p><a href="{{ url_for('add_user')}}">Nouveau joueur</a></p>
    <p><a href="{{ url_for('index')}}">Accueil</a></p>

    <script>
        $('button.deleteBtn').on('click', function() {
            $.ajax({
                type: "DELETE",
                url: "{{ url_for('delete_user') }}",
                data: {
                    user_id: $(this).data('user_id'),
                },
                success: function(response) {
                    location.reload()
                },
                error: function(xhr, status, error) {
                    console.error(error)
                }
            })
        })
    </script>
{% endblock %}